= simple_form_for @company_gis_account, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.association :company, :as => :chosen_select, :collection => companies, :include_blank => t('.choose_company')
  = f.input :login
  = f.input :password_text, :as => :string
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @company_gis_account.persisted?
      = link_to t(:cancel), employee_company_path(@company_gis_account.company), :class => "btn"
      = link_to t(".delete_company_gis_account"), employee_companies_account_path(@company_gis_account), :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
    - else
      = link_to t(:cancel), employee_companies_accounts_path, :class => "btn"
