- content_for :filter do
  = simple_form_for :search, :url => employee_events_path, :method => :get, :html => {:class => 'form-inline'} do |s|
    = s.select :employee_event_search, search_events, :include_blank => t('.choose_due_date'), :selected => search_selected(params[:search])
    = s.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
