= simple_form_for @event, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.association :company, :as => :chosen_select, :collection => companies,
    :include_blank => t('.choose_company')
  = f.association :company_person, :collection => companies_people_for_events_collection(@event)
  = f.input :due_date, :as => :string
  = f.input :description, :as => :text, :input_html => {:rows => 10}
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @event.persisted?
      = link_to t(:cancel), employee_company_path(@event.company), :class => "btn"
      = link_to t(".delete_employee_event"), employee_event_path(@event), :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
    - else
      = link_to t(:cancel), employee_events_path, :class => "btn"
