= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :company_name, Employee::Event.human_attribute_name('company')
      %th= sort_link @search, :company_person_name, Employee::Event.human_attribute_name('company_person')
      %th= sort_link @search, :due_date, Employee::Event.human_attribute_name('due_date')
      %th= Employee::Event.human_attribute_name('description')
      %th
  %tbody
    - @events.each do |e|
      %tr
        %td= link_to e.id, employee_event_path(e)
        %td= link_to e.company, employee_company_path(e.company), :title => e.company.name
        %td= link_to e.company_person.name, employee_company_person_path(e.company_person.company, e.company_person) if e.company_person.present?
        %td= event_due_date_label(e)
        %td= e.description_short
        %td
          %span
            %a{:href => edit_employee_event_path(e), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => employee_event_path(e), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @events, :buttons => [{:link_title => t('.add_employee_event'), :link_path => new_employee_event_path}]}
