.well
  %span
    %a{:href => edit_employee_event_path, :title => t('.edit_event')}
      %i.icon-edit
  = event_due_date_label(@event)
  = @event.description
  = t('.by')
  = link_to @event.company, employee_company_path(@event.company)
  - if @event.company_person.present?
    = t('.for')
    = link_to @event.company_person, employee_company_person_path(@event.company_person.company, @event.company_person) if @event.company_person.present?
