= simple_form_for @company_category, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to t(:cancel), admin_companies_categories_path, :class => "btn"
    - if @company_category.persisted?
      = link_to t(".delete_company_category"), admin_companies_category_path(@company_category),
        :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
