= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name, Company::Category.human_attribute_name('name')
      %th
  %tbody
    - @companies_categories.each do |c|
      %tr
        %td= c.id
        %td= c.name
        %td
          %span
            %a{:href => edit_admin_companies_category_path(c), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_companies_category_path(c), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_categories, :buttons => [{:link_title => t('.add_company_category'), :link_path => new_admin_companies_category_path}]}
