= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :login
      %th= sort_link @search, :type, Company::Account.human_attribute_name('type')
      %th= sort_link @search, :created_at
      %th
  %tbody
    - @accounts.each do |a|
      %tr
        %td= a.id
        %td= a.login
        %td= a.account_type
        %td= l a.created_at, :format => :short
        %td
          %span
            %a{:href => link_to_edit_account_by_client(a), :title => t(:edit)}
              %i.icon-edit
.form-actions
  = render "web/shared/toolbar", {:collection => @accounts, :buttons => nil}
