- events.each do |e|
  .event.well
    %h4
      %span
        %a{:href => edit_employee_event_path(e, :employee_event => {company_id: e.company_id, company_person_id: e.company_person_id}), :title => t('.edit_employee_event')}
          %i.icon-edit
      = event_due_date_label(e)
      = e.description
