= simple_form_for @company_status, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.input :color, :input_html => {:class => 'color'}
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to t(:cancel), admin_companies_statuses_path, :class => "btn"
    - if @company_status.persisted?
      = link_to t(".delete_company_status"), admin_companies_status_path(@company_status),
        :method => :delete, :confirm => t(:sure), :class => "btn btn-danger" unless @company_status.our_client?
