= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name, Company::Status.human_attribute_name('name')
      %th
  %tbody
    - @companies_statuses.each do |c|
      %tr
        %td= c.id
        %td= content_tag(:span, c.name, { :class => 'label', :style => "background-color: ##{c.color}"})
        %td
          %span
            %a{:href => edit_admin_companies_status_path(c), :title => t(:edit)}
              %i.icon-edit
          - unless c.our_client?
            %span
              %a{:href => admin_companies_status_path(c), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
                %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_statuses, :buttons => [{:link_title => t('.add_company_status'), :link_path => new_admin_companies_status_path}]}
