= simple_form_for @employee_department, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.simple_fields_for :positions do |position|
    = render 'position_fields', :f => position
  .links.control-group
    .controls
      = link_to_add_association t('.add_position'), f, :positions, {:class => 'btn btn-small btn-info'}
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t(:cancel), admin_employees_departments_path, :class => 'btn'
    - if @employee_department.persisted?
      = link_to t('.delete_employee_department'), admin_employees_department_path(@employee_department), :method => :delete, :confirm => t('.sure'), :class => 'btn btn-danger'
