= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name
      %th= sort_link @search, Employee::Department.human_attribute_name('positions')
      %th= sort_link @search, :created_at
      %th
  %tbody
    - @employees_departments.each do |e|
      %tr
        %td= e.id
        %td= e.name
        %td
          - if e.positions.present?
            %ul
              - e.positions.each do |p|
                %li= p
        %td= l e.created_at, :format => :only_date
        %td
          %span
            %a{:href => edit_admin_employees_department_path(e), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_employees_department_path(e), :data => {:method => :delete, :confirm => t('.sure')}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @employees_departments, :buttons => [{:link_title => t('.add_employee_department'), :link_path => new_admin_employees_department_path}]}
