.well.sidebar-nav.admin-well
  %ul.nav.nav-list
    %li.nav-header= t('.staff')
    %li
      %a{:href => admin_employees_path}
        = t(".employees")
    %li
      %a{:href => admin_employees_departments_path}
        = t(".employees_departments")
    %li
      %a{:href => admin_employees_positions_path}
        = t(".employees_positions")
    %li.nav-header= t('.settings')
    %li
      %a{:href => admin_companies_categories_path}
        = t(".companies_categories")
    %li
      %a{:href => admin_companies_statuses_path}
        = t(".companies_statuses")
    %li
      %a{:href => admin_juridical_people_path}
        = t(".juridical_people")
