.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => admin_root_path}= t('title.admin')
      .container.nav-collapse
        %p.navbar-text.pull-right
          - if employee_signed_in?
            = link_to t('.exit'), employee_session_path, :method => :delete
          - else
            = link_to t('.authorization'), new_employee_session_path
          |
          = link_to t('.general'), root_path

