.hero-unit
  %h1= t('.general_page')
.row
  .span6
    = link_to t('.admin'), admin_root_path, :class => 'btn btn-large btn-inverse'
    = link_to t('.employee'), employee_companies_path, :class => 'btn btn-large btn-success'
    = link_to t('.client'), company_root_path, :class => 'btn btn-large btn-warning'
