- content_for :filter do
  = simple_form_for :search, :url => employee_companies_accounts_path, :method => :get, :html => {:class => 'form-inline'} do |s|
    = s.collection_select :company_id_equals, companies, :id, :name, :include_blank => t('.choose_company')
    = s.select :type_equals, account_types_collection, :include_blank => t('.choose_account_type')
    = s.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag  t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
