= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :company_name, Company::Account.human_attribute_name('company')
      %th= sort_link @search, :person_name, Company::Account.human_attribute_name('person')
      %th= sort_link @search, :login
      %th= sort_link @search, :type, Company::Account.human_attribute_name('type')
      %th= sort_link @search, :created_at
      %th= Company::Account.human_attribute_name('add')
      %th
  %tbody
    - @companies_accounts.each do |a|
      %tr
        %td= a.id
        %td= link_to a.company, employee_company_path(a.company), :title => a.company.name
        %td= link_to a.person, employee_company_person_path(a.company, a.person) if a.respond_to?("person")
        %td= a.login
        %td= a.account_type
        %td= l a.created_at, :format => :short
        %td= a.creator
        %td
          %span
            %a{:href => link_to_edit_account_by_employee(a), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => employee_companies_account_path(a), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_accounts, :buttons => [{:link_title => t('.add_company_crm_account'), :link_path => new_employee_companies_crm_account_path}, {:link_title => t('.add_company_gis_account'), :link_path => new_employee_companies_gis_account_path}]}
