= simple_form_for @gis_account, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :login
  = f.input :password_text, :as => :string
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to t(:cancel), company_accounts_path, :class => "btn"
