!!! 5
%html{:lang => "ru"}

  %head
    = render 'layouts/web/shared/head'
  %body
    = render 'layouts/web/employee/global/menu'
    .container-fluid
      .row-fluid
        .span2
          - if employee_signed_in?
            = render 'layouts/web/employee/global/menu-left'
            - if current_employee.can? :company_manage_all
              = render 'layouts/web/employee/global/settings'
        .span10
          = render :partial => 'layouts/web/shared/flash', :object => flash
          - if employee_signed_in?
            - if content_for? :list_title
              = yield(:list_title)
            = render_breadcrumbs
          - if content_for? :filter
            .well
              = yield(:filter)
          = yield
    %hr
      = render 'layouts/web/shared/footer'


