= simple_form_for @tariff, :url => url, :class => "form-horizontal" do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.input :cost
  = f.button :submit, :class => "btn btn-primary"
  = link_to t(:cancel), employee_tariffs_path, :class => "btn"
  - if @tariff.persisted?
    = link_to t(".delete_tariff"), employee_tariff_path(@tariff), :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
