= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th
      %th= Tariff.human_attribute_name('name')
      %th= Tariff.human_attribute_name('cost')
      %th= Tariff.human_attribute_name('created_at')
      %th
  %tbody
    - @tariffs.each do |t|
      %tr
        %td= link_to t.id, edit_employee_tariff_path(t)
        %td= t.name
        %td= t.cost
        %td= l t.created_at, :format => :short
        %td
          = link_to t(:edit), edit_employee_tariff_path(t)
          = link_to t(:delete), employee_tariff_path(t), :method => :delete, :confirm => t(:sure)
.form-actions
  = render "web/shared/toolbar", {:collection => @tariffs, :buttons => [{:link_title => t('.add_tariff'), :link_path => new_employee_tariff_path}]}
