- [:notice, :error, :success].each do |key|
  - if flash && flash[key].present?
    %div{ :class => "alert #{flash_class(key)}" }
      %a.close{'data-dismiss' => 'alert'}×
      - Array(flash[key]).each do |msg|
        %div= msg.html_safe
