%meta{:charset => "utf-8"}/
%meta{:content => "initial-scale=1, maximum-scale=1, minimum-scale=0.5, user-scalable=1", :name => "viewport"}/
%title!= title
/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "application"
= csrf_meta_tags
= include_gon
