= simple_form_for @employee_position, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  .row-fluid.employee
    .span5
      = f.input :name
      = f.association :department, :as => :chosen_select, :collection => departments,
        :include_blank => t('.choose_department')
    .span6
      %h4= t('.access_rights')
      .access_rights
        - employee_privileges_collection.each do |group_privileges_name, privileges_list|
          = group_privileges_name
          = f.association :privileges, :as => "check_boxes", :collection => privileges_list, :label => false, :html => {:class => "employee_acess_rights"}
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t(:cancel), admin_employees_positions_path, :class => 'btn'
    - if @employee_position.persisted?
      = link_to t('.delete_employee_position'), admin_employees_position_path(@employee_position), :method => :delete, :confirm => t('.sure'), :class => 'btn btn-danger'
