= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name
      %th= sort_link @search, :department_name, Employee::Position.human_attribute_name('department')
      %th
  %tbody
    - @employees_positions.each do |e|
      %tr
        %td= e.id
        %td= e.name
        %td= e.department
        %td
          %span
            %a{:href => edit_admin_employees_position_path(e), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_employees_position_path(e), :data => {:method => :delete, :confirm => t('.sure')}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @employees_positions, :buttons => [{:link_title => t('.add_employee_position'), :link_path => new_admin_employees_position_path}]}
