- invoices.each do |i|
  .invoice.well
    %h4= link_to t('.company_invoice_title', number: i.invoice_number), company_invoice_path(i)
    %p= "#{Company::Invoice.human_attribute_name('expected_payment_date')}: #{l i.expected_payment_date}" if i.expected_payment_date?
    %p= "#{Company::Invoice.human_attribute_name('actual_payment_date')}: #{l i.actual_payment_date}" if i.actual_payment_date?
    %p= "#{Company::Invoice.human_attribute_name('kind')}: #{i.kind}"
    %p= "#{Company::Invoice.human_attribute_name('period')}: #{i.period}" if i.period_start_date.present?
    %p= "#{Company::Invoice.human_attribute_name('amount')}: #{i.amount}"
    %p= "#{Company::Invoice.human_attribute_name('documents_returned')} - #{i.documents_returned ? t(:yes) : t(:no)}"
