= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :deal_number
      %th= sort_link @search, :counteragent_name, Company::Deal.human_attribute_name('counteragent')
      %th= sort_link @search, :deal_date
      %th= sort_link @search, :total_amount_in_kop, Company::Deal.human_attribute_name('total_amount')
  %tbody
    - @deals.each do |d|
      %tr
        %td= link_to d.deal_number, company_deal_path(d)
        %td= d.counteragent
        %td= l d.deal_date if d.deal_date?
        %td= d.total_amount
.form-actions
  = render "web/shared/toolbar", {:collection => @deals, :buttons => nil}
