.row-fluid.company_deal
  .span6
    .info
      %h3
        = t('.title', {:deal_number => @deal.deal_number})
      %p
      %table.table.table-bordered
        %tbody
          %tr
            %td= Company::Deal.human_attribute_name('deal_number')
            %td= @deal.deal_number
          %tr
            %td= Company::Deal.human_attribute_name('counteragent')
            %td= @deal.counteragent
          %tr
            %td=Company::Deal.human_attribute_name('deal_date')
            %td= l @deal.deal_date if @deal.deal_date?
          %tr
            %td=Company::Deal.human_attribute_name('total_amount')
            %td= @deal.total_amount
          %tr
            %td=Company::Deal.human_attribute_name('paid_amount')
            %td= @deal.paid_amount
  .span6
    .invoices-list
      %h3
        = t(:companies_invoices)
      = render 'invoices', invoices: @invoices
