/* pagination */
.toolbar {
  .span5 { width: auto; float: right; }

  .toolbar-item-content {
    padding: 0 0 0 12px;

    &.pull-right {
      padding-right: 12px;
    }

    .toolbar-item-name {
      float: left;
      margin: 9px 6px 9px 0;
    }
    .pagination {
      float: left;
      margin: 0;
    }
  }
}
/* end of pagination */