.control-group.nested-fields
  .controls
    = f.input_field :kind_id, :as => :select, :collection => contact_detail_kinds, :class => 'input-small'
    = f.error :kind_id
    = f.input_field :value
    = f.error :value
    .close
      = link_to_remove_association 'x', f
