.row-fluid.company_person
  .span6
    .info
      %h3
        = @company_person.name
        %span
          %a{:href => edit_employee_companies_person_path(@company_person), :title => t('.edit_company_person')}
            %i.icon-edit
      %table.table.table-bordered
        %tbody
          %tr
            %td= ::Company::Person.human_attribute_name('company')
            %td= link_to @company_person.company, employee_company_path(@company_person.company), :title => @company_person.company.name
          %tr
            %td= ::Company::Person.human_attribute_name('name')
            %td= @company_person.name
          %tr
            %td= ::Company::Person.human_attribute_name('position')
            %td= @company_person.position
          %tr
            %td=::Company::Person.human_attribute_name('add')
            %td= @company_person.creator

          - if @company_person.contact_details.present?
            - @company_person.contact_details.each do |c|
              %tr
                %td= c.kind
                %td= c
  .span6
    .events-list
      %h3
        = t(:employee_events)
        %span
          %a{:href => new_employee_event_path(employee_event: { company_id: @company_person.company_id, company_person_id: @company_person.id }),
            :title => t('.new_employee_event')}
            %i.icon-plus-sign
      = render 'web/employee/companies/shared/events', events: @company_person.employee_events.asc_by_due_date

.row-fluid
  = render 'new_note'
.row-fluid
  .notes
    = render 'notes'
