%div{class: "control-group nested-fields #{error_class(f.object)}"}
  .controls
    = f.select :kind_id,
      options_from_collection_for_select(juridical_person_detail_kinds, :id, :to_s, f.object.kind_id),
      { :include_blank => true },
      { :class => 'input-small' }
    = f.input_field :value
    .close
      = link_to_remove_association 'x', f, {:class => 'btn btn-danger disabled'}
    = f.error :kind_id
    = f.error :value
