= simple_form_for @juridical_person, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.input :invoice_number_prefix
  = f.simple_fields_for :details do |detail|
    = render 'detail_fields', :f => detail
  .links.control-group
    .controls
      = link_to_add_association t('.add_detail'), f, :details, {:class => 'btn btn-small btn-info'}
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t(:cancel), admin_juridical_people_path, :class => 'btn'
    - if @juridical_person.persisted?
      = link_to t('.delete_juridical_person'), admin_juridical_person_path(@juridical_person),
        :method => :delete, :confirm => t(:sure), :class => 'btn btn-danger'
