= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name
      %th= sort_link @search, :invoice_number_prefix
      %th= JuridicalPerson.human_attribute_name('details')
      %th= sort_link @search, :created_at
      %th
  %tbody
    - @juridical_people.each do |p|
      %tr
        %td= p.id
        %td= p.name
        %td= p.invoice_number_prefix
        %td
          - if p.details.present?
            %ul
              - p.details.each do |d|
                %li= "#{d.kind}: #{d}"
        %td= l p.created_at, :format => :only_date
        %td
          %span
            %a{:href => edit_admin_juridical_person_path(p), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_juridical_person_path(p), :data => {:method => :delete, :confirm => t('.sure')}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @juridical_people, :buttons => [{:link_title => t('.add_juridical_person'), :link_path => new_admin_juridical_person_path}]}
