.well.sidebar-nav.employee-well
  %ul.nav.nav-list
    %li.nav-header= t('.companies')
    %li
      %a{:href => employee_companies_path}
        = t(".companies_list")
    %li
      %a{:href => employee_companies_deals_path}
        = t(".company_deals")
    %li
      %a{:href => employee_companies_invoices_path}
        = t(".company_invoices")
    %li
      %a{:href => employee_companies_accounts_path}
        = t(".company_accounts")
    - if current_employee.can? :product_items_manage
      %li
        %a{:href => employee_product_items_path}
          = t(".product_items")
    %li.nav-header= t(".employee_events.title")
    %li
      %a{:href => employee_events_path}
        = t(".employee_events.list")
    %li
      %a{:href => employee_events_path(search: {employee_event_search: :expired})}
        = t(".employee_events.expired")
        %span.badge.badge-important= employee_events_expired.count
    %li
      %a{:href => employee_events_path(search: {employee_event_search: :today})}
        = t(".employee_events.today")
        %span.badge.badge-success= employee_events_today.count
