= form_tag employee_search_index_path, :method => :get, :id => 'search', :class => 'navbar-search pull-left' do
  = search_field_tag 'term',
   '',
   :placeholder => t('search.query_placeholder'),
   :class => 'search-query span3'


= simple_form_for :term, :url => search_index_path, :html => { :class => 'form-horizontal', :method => :get } do |f|
    = f.input :term, :label => 'search', :required => false, :input_html => { :size => '15' }
    = f.button :submit, "ok"
