.well.employee-settings
  %h4= t('.legend')
  .setting
    %label{for: 'show_assigned_to_me'}= t('.show_assigned_to_me')
    .btn-group{:'data-toggle' => 'buttons-radio'}
      %a{href: url_for(params.merge(show_assigned_to_me: true)),
        class: "btn btn-inverse btn-mini #{employee_constraints[:show_assigned_to_me] ? ' active' : ''}"}
        = t('.enabled')
      %a{href: url_for(params.merge(show_assigned_to_me: false)),
        class: "btn btn-inverse btn-mini #{employee_constraints[:show_assigned_to_me] ? '' : ' active'}"}
        = t('.disabled')