- invoices.each do |i|
  .invoice.well
    %h4
      %span
        %a{:href => edit_employee_companies_invoice_path(i), :title => t('.edit_company_invoice')}
          %i.icon-edit
      = link_to t('.company_invoice_title', number: i.invoice_number), employee_company_invoice_path(i.company, i)
    %p= "#{Company::Invoice.human_attribute_name('created_at')}: #{l i.created_at, :format => :only_date}"
    %p= "#{Company::Invoice.human_attribute_name('expected_payment_date')}: #{l i.expected_payment_date}" if i.expected_payment_date?
    %p= "#{Company::Invoice.human_attribute_name('actual_payment_date')}: #{l i.actual_payment_date}" if i.actual_payment_date?
    %p= "#{Company::Invoice.human_attribute_name('counteragent')}: #{i.counteragent}"
    %p= "#{Company::Invoice.human_attribute_name('kind')}: #{i.kind}"
    %p= "#{Company::Invoice.human_attribute_name('period')}: #{i.period}" if i.period_start_date.present?
    %p= "#{Company::Invoice.human_attribute_name('payment_method')}: #{i.payment_method}"
    %p= "#{Company::Invoice.human_attribute_name('amount')}: #{i.amount}"
    %p= "#{Company::Invoice.human_attribute_name('equity_amount')}: #{i.equity_amount}"
    %p
      = "#{Company::Invoice.human_attribute_name('payment_state')}:"
      %span{:class => "label label-invoice-#{i.payment_state_name}"}= i.human_payment_state_name
    %p= "#{Company::Invoice.human_attribute_name('documents_returned')} - #{i.documents_returned ? t(:yes) : t(:no)}"
    - if i.notes.present?
      %p= "#{t('.last_note')}: #{i.notes.first.short_body}"
