.row-fluid.company_deal
  .span6
    .info
      %h3
        = t('.title', {:deal_number => @company_deal.deal_number})
        %span
          %a{:href => edit_employee_companies_deal_path, :title => t('.edit_company_deal')}
            %i.icon-edit
      %p
      %table.table.table-bordered
        %tbody
          %tr
            %td= Company::Deal.human_attribute_name('deal_number')
            %td= @company_deal.deal_number
          %tr
            %td= Company::Deal.human_attribute_name('juridical_person')
            %td= @company_deal.juridical_person
          %tr
            %td= Company::Deal.human_attribute_name('company')
            %td= link_to @company_deal.company, employee_company_path(@company_deal.company), :title => @company_deal.company.name
          %tr
            %td= Company::Deal.human_attribute_name('counteragent')
            %td= @company_deal.counteragent
          %tr
            %td=Company::Deal.human_attribute_name('deal_date')
            %td= l @company_deal.deal_date if @company_deal.deal_date?
          %tr
            %td=Company::Deal.human_attribute_name('total_amount')
            %td= @company_deal.total_amount
          %tr
            %td=Company::Deal.human_attribute_name('paid_amount')
            %td= @company_deal.paid_amount
          %tr
            %td=Company::Deal.human_attribute_name('add')
            %td= @company_deal.creator
        %tr
          %td= Company::Deal.human_attribute_name('main_flag')
          %td= @company_deal.main_flag ? t(:yes) : t(:no)
  .span6
    .invoices-list
      %h3
        = t(:companies_invoices)
        %span
          %a{:href => new_employee_companies_invoice_path(company_invoice: { company_id: @company_deal.company_id, deal_id: @company_deal.id }),
            :title => t('.add_company_invoice')}
            %i.icon-plus-sign
      = render 'invoices', invoices: @invoices
