- content_for :filter do
  = simple_form_for :search, :url => employee_companies_deals_path, :method => :get, :html => {:class => 'form-inline'} do |f|
    = f.collection_select :company_id_equals, companies, :id, :name, :include_blank => t('.choose_company')
    = f.collection_select :counteragent_kind_id_equals, counteragent_kinds, :id, :to_s, :include_blank => t('.choose_deal_kind')
    = f.collection_select :juridical_person_id_equals, juridical_people, :id, :to_s, :include_blank => t('.choose_juridical_person')
    = f.select :main_flag_equals, companies_deals_types_collection, :include_blank => t('.choose_company_deal_type')
    = f.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
