= simple_form_for @company_deal, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.association :juridical_person, :collection => juridical_people
  = f.association :company, :as => :chosen_select, :collection => companies,
    :include_blank => t('.choose_company')
  = f.input :counteragent do
    = f.select :counteragent_id,
      grouped_options_for_select(counteragents_by_kinds(@company_deal), @company_deal.counteragent_id),
      :include_blank => true
  = f.input :deal_number, :disabled => true
  = f.input :deal_date, :as => :string
  = f.input :total_amount
  = f.input :paid_amount
  = f.input :main_flag, :as => :boolean
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @company_deal.persisted?
      = link_to t(:cancel), employee_company_path(@company_deal.company), :class => "btn"
      = link_to t(".delete_company_deal"), employee_companies_deal_path(@company_deal),
        :method => :delete, :confirm => t('.sure'), :class => "btn btn-danger"
    - else
      = link_to t(:cancel), employee_companies_deals_path, :class => "btn"
