= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :deal_number
      %th= sort_link @search, :juridical_person
      %th= sort_link @search, :company_name, Company::Deal.human_attribute_name('company')
      %th= sort_link @search, :counteragent_name, Company::Deal.human_attribute_name('counteragent')
      %th= sort_link @search, :deal_date
      %th= sort_link @search, :total_amount_in_kop, Company::Deal.human_attribute_name('total_amount')
      %th= sort_link @search, :creator_first_name, Company::Deal.human_attribute_name('add')
      %th= sort_link @search, :main_flag
      %th
  %tbody
    - @companies_deals.each do |d|
      %tr
        %td= d.id
        %td= link_to d.deal_number, employee_company_deal_path(d.company, d)
        %td= d.juridical_person
        %td= link_to d.company, employee_company_path(d.company), :title => d.company.name
        %td= d.counteragent
        %td= l d.deal_date if d.deal_date?
        %td= d.total_amount
        %td= d.creator
        %td= d.main_flag ? t(:yes) : t(:no)
        %td
          %span
            %a{:href => edit_employee_companies_deal_path(d), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => employee_companies_deal_path(d), :data => {:method => :delete, :confirm => t('.sure')}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_deals, :buttons => [{:link_title => t('.add_company_deal'), :link_path => new_employee_companies_deal_path}]}
