%div{class: "control-group nested-fields #{error_class(f.object)}"}
  .controls
    = f.select :kind_id, options_for_contact_detail_kinds(f.object), { :include_blank => true },
      { :class => 'contact_detail_kind input-small' }
    = f.input_field :kind_value_source, :as => :contact_detail_kind_value_source
    .close
      = link_to_remove_association 'x', f, {:class => 'btn btn-danger disabled'}
    = f.error :kind_id
    = f.error(:kind_value_source) || f.error(:kind_value)
