- content_for :filter do
  = simple_form_for :search, :url => employee_companies_people_path, :method => :get, :html => {:class => 'form-inline'} do |f|
    = Company.model_name.human
    = f.collection_select :company_id_equals, companies, :id, :name, :include_blank => t('.choose_company')
    = f.collection_select :creator_id_equals, employees, :id, :full_name, :include_blank => t('.choose_person_creator')
    = f.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
