= simple_form_for @company_person, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.association :company, :as => :chosen_select, :collection => companies,
    :include_blank => t('.choose_company')
  = f.input :position
  = f.simple_fields_for :contact_details do |detail|
    = render 'contact_detail_fields', :f => detail
  .links.controls
    = link_to_add_association t('.add_contact_details'), f, :contact_details, {:class => 'btn btn-small btn-info'}
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to t(:cancel), employee_company_path(@company_person.company_id), :class => "btn"
    - if @company_person.persisted?
      = link_to t(".delete_company_person"), employee_companies_person_path(@company_person),
      :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
