= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :company_name, Company.model_name.human
      %th= sort_link @search, :name
      %th= sort_link @search, :position
      %th= sort_link @search, :creator_first_name, Company.human_attribute_name('add')
      %th
  %tbody
    - @companies_people.each do |p|
      %tr
        %td= p.id
        %td= link_to p.company, employee_company_path(p.company), :title => p.company.name
        %td= link_to p.name, employee_company_person_path(p.company, p)
        %td= p.position
        %td= p.creator
        %td
          %span
            %a{:href => edit_employee_companies_person_path(p), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => employee_companies_person_path(p), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_people, :buttons =>[{:link_title => t('.add_company_person'), :link_path => new_employee_companies_person_path}]}
