.toolbar
  - if buttons.present?
    - buttons.map do |b|
      .span3
        .toolbar-item-content
          = link_to b[:link_title], b[:link_path], :class => "btn"
  -if collection.num_pages > 1
    .toolbar-item-content.pull-right
      .toolbar-item-name Страница:
      .pagination
        = paginate collection
  .toolbar-item-content.pull-right
    .toolbar-item-name Элементов:
    .pagination
      %ul
        - paginate_per_page_values.each do |v|
          = paginate_per_page_item :li, v, url_for(params.merge(:page => 1, :per_page => v))
