.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => company_deals_path}= t('title.company')
      %p.navbar-text.pull-right
        - if company_account_signed_in?
          = link_to t('.exit'), company_session_path, :method => :delete
        - else
          = link_to t('.authorization'), new_company_session_path
        |
        = link_to t('.general'), root_path
