.well.sidebar-nav.employee-well
  %ul.nav.nav-list
    %li.nav-header= t('.general_menu')
    %li
      %a{:href => company_deals_path}
        = t(".deals")
    %li
      %a{:href => company_invoices_path}
        = t(".invoices")
    %li
      %a{:href => company_accounts_path}
        = t(".accounts")
