.row
  .span8
    .hero-unit
      = simple_form_for :company_crm_account, :url => company_session_path, :class => 'form-horizontal',
        :defaults => {:input_html => {:class => 'input-xlarge'}} do |f|
        %legend= t('.authorization')
        = f.input :login
        = f.input :password
        = f.button :submit, t('.enter'), :class => 'btn btn-primary btn-large'
