%h4
  = t('.crm_accounts')
  %span
    %a{:href => new_employee_companies_crm_account_path(:company_crm_account => {:company_id => @company.id}), :title => t('.add_company_crm_account')}
      %i.icon-plus-sign
- @company.crm_accounts.each do |a|
  .account.well
    %h4
      %span
        %a{:href => edit_employee_companies_crm_account_path(a), :title => t('.edit_company_crm_account')}
          %i.icon-edit
      = "#{a}"
    = "#{t('.belongs_to')}"
    = link_to a.person, employee_company_person_path(a.person)
%h4
  = t('.gis_accounts')
  %span
    %a{:href => new_employee_companies_gis_account_path(:company_gis_account => {:company_id => @company.id}), :title => t('.add_company_gis_account')}
      %i.icon-plus-sign
- @company.gis_accounts.each do |a|
  .account.well
    %h4
      %span
        %a{:href => edit_employee_companies_gis_account_path(a), :title => t('.edit_company_gis_account')}
          %i.icon-edit
      = a
