.control-group.nested-fields
  .controls
    = f.select :kind_id, options_from_collection_for_select(counteragent_kinds, :id, :to_s, f.object.kind_id),
      { :include_blank => true },
      { :class => 'contact_detail_kind input-small' }
    = f.input_field :name, :placeholder => ::Company::Counteragent.human_attribute_name('name')
    = f.input_field :cars_count, :placeholder => ::Company::Counteragent.human_attribute_name('cars_count'), :class => 'input-small'
    .close
      = link_to_remove_association 'x', f, {:class => 'btn btn-danger disabled'}
    = f.error :kind_id
    = f.error :name
    = f.error :cars_count
