- @deals.each do |d|
  .deal.well
    %h4
      %span
        %a{:href => edit_employee_companies_deal_path(d), :title => t('.edit_company_deal')}
          %i.icon-edit
      = link_to d, employee_company_deal_path(d.company, d)
    - if d.main_flag.present?
      %span.badge.badge-success= "#{Company::Deal.human_attribute_name('main_flag')}"
    %p= "#{Company::Deal.human_attribute_name('juridical_person')}: #{d.juridical_person}"
    %p= "#{Company::Deal.human_attribute_name('counteragent')}: #{d.counteragent}"
    %p= "#{Company::Deal.human_attribute_name('deal_date')}: #{l d.deal_date}" if d.deal_date?
    %p= "#{Company::Deal.human_attribute_name('total_amount')}: #{d.total_amount}"
    %p= "#{Company::Deal.human_attribute_name('paid_amount')}: #{d.paid_amount}"
    %p= "#{Company::Deal.human_attribute_name('add')}: #{d.creator}"
    .invoices.side-block.embedded-block
      %h4
        = t(:companies_invoices)
        %span
          %a{:href => new_employee_companies_invoice_path(company_invoice: { company_id: d.company_id, deal_id: d.id }),
             :title => t('.add_company_invoice')}
            %i.icon-plus-sign
      .btn-toolbar
        %a{:href => '#invoices-block', :class => 'btn btn-small dropdown-toggle', :'data-toggle' => 'block', :title => t(:list)}
          %span.caret
        %span.badge.badge-inverse
          = items_count(@grouped_invoices[d.id])
      - if @grouped_invoices[d.id]
        .block-content
          #invoices-block{:style => 'display: none;'}
            = render 'web/employee/companies/deals/invoices', invoices: @grouped_invoices[d.id]
