- content_for :filter do
  = simple_form_for :search, :url => employee_companies_path, :method => :get, :html => {:class => "form-inline"} do |s|
    = s.collection_select :status_id_equals, company_statuses, :id, :name, :include_blank => t('.choose_company_status')
    = s.collection_select :creator_id_equals, employees, :id, :full_name, :include_blank => t('.choose_company_creator')
    = s.collection_select :category_id_equals, company_categories, :id, :name, :include_blank => t('.choose_company_category')
    = s.collection_select :assigned_id_equals, employees, :id, :full_name, :include_blank => t('.choose_company_assigned') if current_employee.can?(:company_manage_all)
    = s.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
