= simple_form_for @company, :url => url, :html => {:class => "form-horizontal company_form"} do |f|
  %legend= legend
  = f.error_notification
  = render 'web/shared/errors', :errors => @company.errors[:base]
  = f.simple_fields_for :contact_details do |detail|
    = render 'contact_detail_fields', :f => detail
  .links.control-group
    .controls
      = link_to_add_association t('.add_contact_details'), f, :contact_details, {:class => 'btn btn-small btn-info'}
  = f.input :name
  = f.simple_fields_for :counteragents do |c|
    = render 'counteragent_fields', :f => c
  .links.control-group
    .controls
      = link_to_add_association t('.add_counteragent'), f, :counteragents, {:class => 'btn btn-small btn-info'}
  = f.association :status
  = f.association :category
  = f.input :referer
  = f.input :gis_objects_code_list
  = f.input :rental_fee
  = f.association :payment_method
  = f.association :tariff
  = f.association :assigned
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @company.persisted?
      = link_to t(:cancel), employee_company_path(@company), :class => "btn"
      = link_to t(".delete_company"), employee_company_path(@company), :method => :delete,
        :confirm => t('.confirm_delete'), :class => "btn btn-danger" if current_employee.can?(:company_delete)
    - else
      = link_to t(:cancel), employee_companies_path, :class => "btn"

