= simple_form_for @note, :url => employee_company_notes_path(@company), :html => {:class => "form-vertical"} do |f|
  = f.input :body, :as => :text, :input_html => {:class => 'span10', :rows => 10}, :label => false
  .form-actions
    = f.button :submit, t('.add_note'), :class => 'btn btn-primary'
