- @people.each do |p|
  .person.well
    %h4
      %span
        %a{:href => edit_employee_companies_person_path(p), :title => t('.edit_company_person')}
          %i.icon-edit
      = link_to p.name, employee_company_person_path(p.company, p)
    - if p.position.present?
      %p= "#{Company::Person.human_attribute_name('position')}: #{p.position}"
    - if p.contact_details.present?
      - p.contact_details.each do |c|
        %p= "#{c.kind}: #{c}"
    .events-notes.side-block.embedded-block
      .btn-toolbar
        %a{:href => '#events-notes-block', :class => 'btn btn-small dropdown-toggle', :'data-toggle' => 'block', :title => t(:list)}
          %span.caret
      .block-content
        #events-notes-block{:style => 'display: none;'}
          %h4
            = t(:employee_events)
            %span.badge.badge-inverse
              = p.employee_events.count
            %span
              %a{:href => new_employee_event_path(employee_event: { company_id: p.company_id, company_person_id: p.id }),
                 :title => t('.add_employee_event')}
                %i.icon-plus-sign
          %p
          = render 'web/employee/companies/shared/events', events: p.employee_events.asc_by_due_date
          %h4
            = t('.company_person_notes')
            %span.badge.badge-inverse
              = p.notes.count
            %span
              %a{:href => employee_company_person_path(p.company_id, p.id), :title => t('.add_employee_note')}
                %i.icon-plus-sign
          %p
          = render 'web/employee/companies/shared/notes', notes: p.notes
