= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name
      %th= Company.human_attribute_name('counteragents')
      %th= sort_link @search, :status_name, Company.human_attribute_name('status')
      %th= sort_link @search, :payment_method_name, Company.human_attribute_name('payment_method')
      %th= sort_link @search, :category_name, Company.human_attribute_name('category')
      %th= sort_link @search, :assigned_first_name, Company.human_attribute_name('assigned')
      %th= sort_link @search, :created_at
      %th= t('.relations')
      %th
  %tbody
    - @companies.each do |c|
      %tr
        %td= c.id
        %td= link_to c.short_name, employee_company_path(c), :title => c.name
        %td
          - if c.counteragents.present?
            %ul
              - c.counteragents.each do |ct|
                %li= ct
        %td= status_label(c)
        %td= c.payment_method
        %td= c.category
        %td= c.assigned
        %td= l c.created_at, :format => :only_date
        %td
          .dropdown.company-relations
            %a{:class => 'dropdown-toggle', :'data-toggle' => 'dropdown', :href => '#'}
              %i.icon-list
              %span.caret
            %ul.dropdown-menu
              - search_params = {:search => {:company_id_equals => c.id}}
              %li= link_to t(:companies_invoices), employee_companies_invoices_path(search_params)
              %li= link_to t(:companies_deals), employee_companies_deals_path(search_params)
              %li= link_to t(:companies_accounts), employee_companies_accounts_path(search_params)
        %td
          %span
            %a{:href => edit_employee_company_path(c), :title => t(:edit)}
              %i.icon-edit
          - if current_employee.can?(:company_delete)
            %span
              %a{:href => employee_company_path(c), :data => {:method => :delete, :confirm => t('.confirm_delete')}, :title => t(:delete)}
                %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @companies, :buttons => [{:link_title => t('.add_company'), :link_path => new_employee_company_path}]}
