.row-fluid.company
  .span6
    .company_people.side-block
      %h3
        = t(:companies_people)
        %span
          %a{:href => new_employee_companies_person_path(:company_person => {:company_id => @company.id}), :title => t('.add_company_person')}
            %i.icon-plus-sign
      = render 'people'
    .events.side-block
      %h3
        = t(:employee_events)
        %span
          %a{:href => new_employee_event_path(employee_event: { company_id: @company.id }),
            :title => t('.add_employee_event')}
            %i.icon-plus-sign
      = render 'web/employee/companies/shared/events', events: unassigned_employee_events(@company)
    .deals.side-block
      %h3
        = t(:companies_deals)
        %span
          %a{:href => new_employee_companies_deal_path(:company_deal => {:company_id => @company.id}), :title => t('.add_company_deal')}
            %i.icon-plus-sign
      = render 'deals'
    .company_accounts.side-block
      %h3
        = t(:companies_accounts)
      %p
      = render 'accounts'
  .span6
    .info
      %h3
        = t('.title', {:name => @company.name})
        %span
          %a{:href => edit_employee_company_path, :title => t('.edit_company')}
            %i.icon-edit
      %p
      %table.table.table-bordered
        %tbody
          %tr
            %td= Company.human_attribute_name('name')
            %td= @company.name
          %tr
            %td= Company.human_attribute_name('counteragents')
            %td
              - if @company.counteragents.present?
                %ul
                  - @company.counteragents.each do |ct|
                    %li= ct
          %tr
            %td= Company.human_attribute_name('assigned')
            %td= @company.assigned
          %tr
            %td= Company.human_attribute_name('add')
            %td= @company.creator
          %tr
            %td= Company.human_attribute_name('created_at')
            %td= l @company.created_at, :format => :only_date
          %tr
            %td= Company.human_attribute_name('status')
            %td= status_label(@company)
          %tr
            %td= Company.human_attribute_name('category')
            %td= @company.category
          %tr
            %td= Company.human_attribute_name('referer')
            %td= @company.referer
          %tr
            %td= Company.human_attribute_name('gis_objects_code_list')
            %td= @company.gis_objects_code_list
          %tr
            %td= Company.human_attribute_name('rental_fee')
            %td= @company.rental_fee
          %tr
            %td= Company.human_attribute_name('cars_count')
            %td= @company.cars_count
          %tr
            %td= Company.human_attribute_name('payment_method')
            %td= @company.payment_method
          %tr
            %td= Company.human_attribute_name('tariff')
            %td= @company.tariff

          - if @company.contact_details.present?
            - @company.contact_details.each do |c|
              %tr
                %td= c.kind
                %td= c
    = render 'new_note'
    = render 'notes'
