$border_radius: 5px;

.company_deal .invoices-list {
  border: 1px solid #EEE;
  -webkit-border-radius: $border_radius;
  -moz-border-radius: $border_radius;
  border-radius: $border_radius;
  padding: 7px;
}