// payment states
.label-invoice-paid { background-color: #468847; }
.label-invoice-unpaid { background-color: #B94A48; }
// states
.label-invoice-active { background-color: #468847; }
.label-invoice-archived { background-color: #FAA732; }
.label-invoice-deleted { background-color: #B94A48; }
.row-invoice-id-valign { vertical-align: middle !important; }
