$border_radius: 5px;

/* block, located on the right of the info block */
.company .side-block {
  border: 1px solid #EEE;
  -webkit-border-radius: $border_radius;
  -moz-border-radius: $border_radius;
  border-radius: $border_radius;
  padding: 7px;
  margin-bottom: 5px;

  .embedded-block {
    margin-top: 5px;

    .well {
      margin-bottom: 4px;
    }

    .badge {
      margin-right: 5px !important;
      padding-top: 2px !important;
    }
  }
}
