= simple_form_for @product_item, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.input :name
  = f.input :prime_amount
  = f.input :sail_amount
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to t(:cancel), employee_product_items_path, :class => "btn"
    - if @product_item.persisted?
      = link_to t(".delete_product_item"), employee_product_item_path(@product_item), :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
