= content_for :list_title do
  %h3= t('.title')
  %p

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :name
      %th= sort_link @search, :prime_amount_in_kop, ProductItem.human_attribute_name('prime_amount')
      %th= sort_link @search, :sail_amount_in_kop, ProductItem.human_attribute_name('sail_amount')
      %th= sort_link @search, :creator_first_name, ProductItem.human_attribute_name('creator')
      %th
  %tbody
    - @product_items.each do |p|
      %tr
        %td= p.id
        %td= p.name
        %td= p.prime_amount
        %td= p.sail_amount
        %td= p.creator
        %td
          %span
            %a{:href => edit_employee_product_item_path(p), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => employee_product_item_path(p), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @product_items, :buttons => [{:link_title => t('.add_product_item'), :link_path => new_employee_product_item_path}]}
