
- if @companies.present? || @company_people.present? || @company_invoices.present?
  %h3= t('search.items_matched', :q => @query)
  %ul
  - @companies.each do |c|
    %li= link_to c, employee_company_path(c)
  - @company_people.each do |cp|
    %li= link_to "#{cp} (#{cp.company})", employee_company_path(cp.company)
  - @company_invoices.each do |ci|
    %li= link_to "Счет №#{ci} (#{ci.company})", employee_company_invoice_path(ci.company, ci)
- else
  %h3= t('search.nothing_was_found', :q => @query)