= simple_form_for @company_crm_account, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = f.association :company, :as => :chosen_select, :collection => companies, :include_blank => t('.choose_company')
  = f.association :person, :collection => companies_people_for_accounts_collection(@company_crm_account)
  = f.input :login
  = f.input :password
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @company_crm_account.persisted?
      = link_to t(:cancel), employee_company_path(@company_crm_account.company), :class => "btn"
      = link_to t(".delete_company_crm_account"), employee_companies_account_path(@company_crm_account), :method => :delete, :confirm => t(:sure), :class => "btn btn-danger"
    - else
      = link_to t(:cancel), employee_companies_accounts_path, :class => "btn"
