- content_for :filter do
  = simple_form_for :search, :url => company_invoices_path, :method => :get, :html => {:class => 'form-inline'} do |f|
    = f.collection_select :kind_id_equals, company_invoice_kinds, :id, :name, :include_blank => t('.choose_invoice_kind')
    = f.collection_select :deal_counteragent_kind_id_equals, counteragent_kinds, :id, :to_s, :include_blank => t('.choose_deal_kind')
    = f.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
