= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table
  %thead
    %tr
      %th= sort_link @search, :invoice_number, Company::Invoice.human_attribute_name('invoice_number')
      %th= sort_link @search, :amount_in_kop, Company::Invoice.human_attribute_name('amount')
      %th= sort_link @search, :expected_payment_date
      %th= sort_link @search, :actual_payment_date
      %th= sort_link @search, :deal_deal_number, Company::Invoice.human_attribute_name('deal')
      %th= sort_link @search, :kind_name, Company::Invoice.human_attribute_name('kind')
      %th= sort_link @search, :payment_method_name, Company::Invoice.human_attribute_name('payment_method')
      %th= sort_link @search, :payment_state_cache, Company::Invoice.human_attribute_name('payment_state')
      %th= sort_link @search, :documents_returned
  %tbody
    - @invoices.each do |i|
      %tr
        %td= link_to i.invoice_number, company_invoice_path(i)
        %td= i.amount
        %td= l i.expected_payment_date if i.expected_payment_date?
        %td= l i.actual_payment_date if i.actual_payment_date?
        %td= link_to i.deal, company_deal_path(i.deal)
        %td= i.kind
        %td= i.payment_method
        %td
          %span{:class => "label label-invoice-#{i.payment_state_name}"}= i.human_payment_state_name
        %td= i.documents_returned ? t(:yes) : t(:no)
.form-actions
  = render "web/shared/toolbar", {:collection => @invoices, :buttons => nil}
