%h3
  = t('.title', :number => @invoice.invoice_number)
%p

%h4= t(".product_items")
%p
.row-fluid.employee
  .span6
    %table.table.table-bordered
      %thead
        %tr
          %td= ProductItem.human_attribute_name('name')
          %td= ::Company::InvoiceProductItem.human_attribute_name('employee_sail_amount')
          %td= ::Company::InvoiceProductItem.human_attribute_name('product_items_count')
      %tbody
        - @invoice_product_items.each do |p|
          %tr
            %td= p.product_item
            %td= p.sail_amount
            %td= p.product_items_count
  .span6
    %table.table.table-bordered
      %tbody
        %tr
          %td= Company::Invoice.human_attribute_name('invoice_number')
          %td= @invoice.invoice_number
        %tr
          %td= Company::Invoice.human_attribute_name('amount')
          %td= @invoice.amount
        %tr
          %td= Company::Invoice.human_attribute_name('expected_payment_date')
          %td= l @invoice.expected_payment_date if @invoice.expected_payment_date?
        %tr
          %td= Company::Invoice.human_attribute_name('actual_payment_date')
          %td= l @invoice.actual_payment_date if @invoice.actual_payment_date?
        %tr
          %td= Company::Invoice.human_attribute_name('counteragent')
          %td= @invoice.counteragent
        %tr
          %td= Company::Invoice.human_attribute_name('deal')
          %td= link_to @invoice.deal, company_deal_path(@invoice.deal)
        %tr
          %td= Company::Invoice.human_attribute_name('kind')
          %td= @invoice.kind
        - if @invoice.period_start_date.present?
          %tr
            %td= Company::Invoice.human_attribute_name('period')
            %td= @invoice.period
        %tr
          %td= Company::Invoice.human_attribute_name('payment_method')
          %td= @invoice.payment_method
        %tr
          %td= Company::Invoice.human_attribute_name('payment_state')
          %td
            %span{:class => "label label-invoice-#{@invoice.payment_state_name}"}= @invoice.human_payment_state_name
        %tr
          %td= Company::Invoice.human_attribute_name('documents_returned')
          %td= @invoice.documents_returned ? t(:yes) : t(:no)
