/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require chosen
 *= require vendor
 *= require_tree .
*/

.nested-fields .help-block {
  color: #B94A48;
}

.simple_form {
  margin: 0 !important;
}

.simple_form .tabbable .tab-content {
  overflow: visible;
}
