= simple_form_for @note, :url => employee_companies_invoice_notes_path(@company_invoice), :html => {:class => "form-vertical"} do |f|
  = f.input :body, :as => :text, :input_html => {:class => 'span5', :rows => 10}, :label => false
  .form-actions
    = f.button :submit, t('.add_note'), :class => 'btn btn-primary'
