%h3
  = t('.title', :number => @company_invoice.invoice_number)
  %span
    %a{:href => edit_employee_companies_invoice_path, :title => t('.edit_company_invoice')}
      %i.icon-edit
%p

.row-fluid.employee
  .span6
    %h4= t(".product_items")
    %p
    %table.table.table-bordered
      %thead
        %tr
          %td= ProductItem.human_attribute_name('name')
          %td= ::Company::InvoiceProductItem.human_attribute_name('prime_amount')
          %td= ::Company::InvoiceProductItem.human_attribute_name('sail_amount')
          %td= ::Company::InvoiceProductItem.human_attribute_name('employee_sail_amount')
          %td= ::Company::InvoiceProductItem.human_attribute_name('product_items_count')
      %tbody
        - @invoice_product_items.each do |p|
          %tr
            %td= p.product_item
            %td= p.prime_amount
            %td= p.product_item.sail_amount
            %td= p.sail_amount
            %td= p.product_items_count
  .span6
    %h4
      = Company::Invoice.human_attribute_name('state')
      %span{:class => "label label-invoice-#{@company_invoice.state_name}"}= @company_invoice.human_state_name
    %p
    %table.table.table-bordered
      %tbody
        %tr
          %td= Company::Invoice.human_attribute_name('invoice_number')
          %td= @company_invoice.invoice_number
        %tr
          %td= Company::Invoice.human_attribute_name('amount')
          %td= @company_invoice.amount
        %tr
          %td= Company::Invoice.human_attribute_name('equity_amount')
          %td= @company_invoice.equity_amount
        %tr
          %td= Company::Invoice.human_attribute_name('created_at')
          %td= l @company_invoice.created_at, :format => :only_date
        %tr
          %td= Company::Invoice.human_attribute_name('expected_payment_date')
          %td= l @company_invoice.expected_payment_date if @company_invoice.expected_payment_date?
        %tr
          %td= Company::Invoice.human_attribute_name('actual_payment_date')
          %td= l @company_invoice.actual_payment_date if @company_invoice.actual_payment_date?
        %tr
          %td= Company::Invoice.human_attribute_name('company')
          %td= link_to @company_invoice.company, employee_company_path(@company_invoice.company), :title => @company_invoice.company.name
        %tr
          %td= Company::Invoice.human_attribute_name('counteragent')
          %td= @company_invoice.counteragent
        %tr
          %td= Company::Invoice.human_attribute_name('deal')
          %td= link_to @company_invoice.deal, employee_company_deal_path(@company_invoice.deal.company, @company_invoice.deal)
        %tr
          %td= Company::Invoice.human_attribute_name('kind')
          %td= @company_invoice.kind
        - if @company_invoice.period_start_date.present?
          %tr
            %td= Company::Invoice.human_attribute_name('period')
            %td= @company_invoice.period
        %tr
          %td= Company::Invoice.human_attribute_name('payment_method')
          %td= @company_invoice.payment_method
        %tr
          %td= Company::Invoice.human_attribute_name('payment_state')
          %td
            %span{:class => "label label-invoice-#{@company_invoice.payment_state_name}"}= @company_invoice.human_payment_state_name
        %tr
          %td= Company::Invoice.human_attribute_name('documents_returned')
          %td= @company_invoice.documents_returned ? t(:yes) : t(:no)


.row-fluid
  = render 'new_note'
.row-fluid
  .notes
    = render 'notes'
