- content_for :filter do
  = simple_form_for :search, :url => admin_employees_path, :method => :get, :html => {:class => 'form-inline'} do |s|
    = s.collection_select :position_department_id_equals, departments, :id, :name, :include_blank => t('.choose_department')
    = s.select :state_equals, employee_states, :include_blank => t('.choose_state')
    = s.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag  t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
