= simple_form_for @employee, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  = render 'web/shared/errors', :errors => @employee.errors[:base]
  .row-fluid.employee
    .span5
      - if @employee.persisted?
        .control-group.state
          = f.label :state
          .controls
            %span{:class => "label label-employee-#{@employee.state_name}"}= @employee.human_state_name
      = f.input :first_name
      = f.input :last_name
      = f.input :patronymic
      = f.input :email
      = f.input :password
      = f.input :position do
        = f.select :position_id, grouped_options_for_select(positions_by_department, @employee.position_id), :include_blank => true
    .span6
      %h4= t('.access_rights')
      .access_rights
        - employee_privileges_collection.each do |group_privileges_name, privileges_list|
          = group_privileges_name
          = f.association :privileges, :as => "check_boxes", :collection => privileges_list, :label => false, :html => {:class => "employee_acess_rights"}
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t(:cancel), admin_employees_path, :class => 'btn'
    - if @employee.persisted?
      - if @employee.can_activate?
        = link_to ::Employee.human_state_event_name(:activate),
          trigger_state_event_admin_employee_path(@employee, {event: :activate}),
          :method => :put, :confirm => t(:sure), :class => "btn btn-success"
      - if @employee.can_del?
        = link_to ::Employee.human_state_event_name(:del),
          trigger_state_event_admin_employee_path(@employee, {event: :del}),
          :method => :put, :confirm => t(:sure), :class => "btn btn-danger"
