= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :email
      %th= sort_link @search, :first_name
      %th= sort_link @search, :last_name
      %th= sort_link @search, :patronymic
      %th= sort_link @search, :position_department_name, Employee.human_attribute_name('department')
      %th= sort_link @search, :position_name, Employee.human_attribute_name('position')
      %th= sort_link @search, :created_at
      %th
  %tbody
    - @employees.each do |e|
      %tr
        %td= link_to e.id, admin_employee_path(e)
        %td= e.email
        %td= e.first_name
        %td= e.last_name
        %td= e.patronymic
        %td= e.position.department if e.position.present?
        %td= e.position if e.position.present?
        %td= l e.created_at, :format => :short
        %td
          %span
            %a{:href => edit_admin_employee_path(e), :title => t(:edit)}
              %i.icon-edit
          %span
            - if e.can_activate?
              %a{:href => trigger_state_event_admin_employee_path(e, {event: :activate}),
                 :data => {:method => :put, :confirm => t(:sure)},
                 :title => ::Employee.human_state_event_name(:activate)}
                %i.icon-share-alt
            - if e.can_del?
              %a{:href => trigger_state_event_admin_employee_path(e, {event: :del}),
                 :data => {:method => :put, :confirm => t(:sure)},
                 :title => ::Employee.human_state_event_name(:del)}
                %i.icon-remove
.form-actions
  = render "web/shared/toolbar", {:collection => @employees, :buttons => [{:link_title => t('.add_employee'), :link_path => new_admin_employee_path}]}
