%h3
  = @employee.full_name
  %span
    %a{:href => edit_admin_employee_path, :title => t('.edit_employee')}
      %i.icon-edit
%p
.row-fluid.employee
  .span6
    %h4
      = Employee.human_attribute_name('state')
      %span{:class => "label label-employee-#{@employee.state_name}"}= @employee.human_state_name
    %p
    %table.table.table-bordered
      %tbody
        %tr
          %td= Employee.human_attribute_name('first_name')
          %td
            %span.rest-in-place{'data-attribute' => :name, 'data-url' => api_employee_path(@employee, :format => 'json'), 'data-object' => 'user'}
              = @employee.first_name
        %tr
          %td= Employee.human_attribute_name('last_name')
          %td= @employee.last_name
        %tr
          %td= Employee.human_attribute_name('patronymic')
          %td= @employee.patronymic
        %tr
          %td= Employee.human_attribute_name('email')
          %td= @employee.email
        %tr
          %td= Employee.human_attribute_name('department')
          %td= @employee.position.department if @employee.position.present?
        %tr
          %td= Employee.human_attribute_name('position')
          %td= @employee.position if @employee.position.present?
  .span6
    %h3= t('.access_rights')
    - employee_privileges_collection.each do |group_privileges_name, privileges_list|
      = group_privileges_name
      %p
      - privileges_list.each do |name, id|
        = check_box_tag "priv_#{id}", id, @employee.privilege_ids.include?(id), :disabled => true
        = name
        %p
      %p
