!!! 5
%html{:lang => "ru"}
  %head
    = render 'layouts/web/shared/head'
  %body
    = render 'layouts/web/admin/global/menu'
    .container-fluid
      .row-fluid
        .span2
          - if employee_signed_in?
            = render 'layouts/web/admin/global/menu-left'
        .span10
          = flash_block
          - if employee_signed_in?
            - if content_for? :list_title
              = yield(:list_title)
            = render_breadcrumbs
          - if content_for? :filter
            .well
              = yield(:filter)
          = yield
    %hr
      = render 'layouts/web/shared/footer'
