- content_for :filter do
  = simple_form_for :search, :url => employee_companies_invoices_path, :method => :get, :html => {:class => 'form-inline'} do |f|
    = f.collection_select :company_id_equals, companies, :id, :name, :include_blank => t('.choose_company')
    = f.collection_select :kind_id_equals, company_invoice_kinds, :id, :name, :include_blank => t('.choose_invoice_kind')
    = f.select :payment_state_equals, company_invoice_payment_states, :include_blank => t('.choose_invoice_payment_state')
    - if current_employee.can? :invoice_manage_all
      = f.select :state_equals, company_invoice_states, :include_blank => t('.choose_invoice_state')
    = f.button :submit, t('filter_panel.buttons.filter'), :class => 'btn btn-primary'
    = submit_tag t('filter_panel.buttons.reset'), :type => :reset, :class => 'btn'
