= simple_form_for @company_invoice,:as => :company_invoice, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  .row-fluid.employee
    .span6
      %h4= t(".product_items")
      %p
      = f.simple_fields_for :invoice_product_items do |i|
        = render 'invoice_product_item_fields', :f => i
      .links.control-group
        = link_to_add_association t('.add_product_item'), f, :invoice_product_items, {:class => 'btn btn-small btn-info'}
      = f.input :amount, :readonly => true
      = f.input :equity_amount, :readonly => true
    .span5
      - if @company_invoice.persisted?
        .control-group.state
          = f.label :state
          .controls
            %span{:class => "label label-invoice-#{@company_invoice.state_name}"}= @company_invoice.human_state_name
      = f.input :expected_payment_date, :as => :string,
        :disabled => !EmployeeAccessController.can_setup_company_invoice_expected_payment_date?(current_employee, @company_invoice)
      = f.input :actual_payment_date, :as => :string,
        :disabled => !EmployeeAccessController.can_setup_company_invoice_actual_payment_date?(current_employee, @company_invoice)
      = f.input :old_type, :as => :hidden
      = f.association :company, :as => :chosen_select, :collection => companies,
        :include_blank => t('.choose_company')
      = f.association :deal, :collection => companies_deals_collection
      = f.association :kind, :include_blank => false
      = f.input :period_start_date, :as => :string
      = f.input :period_end_date, :as => :string
      = f.association :payment_method
      - if @company_invoice.unpaid?
        = f.input :payment_state_event, :as => :payment_state_event
      = f.input :documents_returned, :as => :boolean
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    - if @company_invoice.persisted?
      = link_to t(:cancel), employee_company_path(@company_invoice.company), :class => "btn"
      - if current_employee.can? :invoice_manage_all
        - if @company_invoice.can_activate?
          = link_to ::Company::Invoice.human_state_event_name(:activate),
            trigger_state_event_employee_company_invoice_path(@company_invoice.company,
              @company_invoice, {event: :activate, redirect_to: employee_company_path(@company_invoice.company)}),
            :method => :put, :confirm => t(:sure), :class => "btn btn-success"
        - if @company_invoice.can_archive?
          = link_to ::Company::Invoice.human_state_event_name(:archive),
            trigger_state_event_employee_company_invoice_path(@company_invoice.company,
              @company_invoice, {event: :archive, redirect_to: employee_company_path(@company_invoice.company)}),
            :method => :put, :confirm => t(:sure), :class => "btn btn-warning"
        - if @company_invoice.can_del?
          = link_to ::Company::Invoice.human_state_event_name(:del),
            trigger_state_event_employee_company_invoice_path(@company_invoice.company,
              @company_invoice, {event: :del, redirect_to: employee_company_path(@company_invoice.company)}),
            :method => :put, :confirm => t(:sure), :class => "btn btn-danger"
    - else
      = link_to t(:cancel), employee_companies_invoices_path, :class => "btn"
