.control-group.nested-fields.new_invoice_product_item
  = f.select :product_item_id, options_from_collection_for_select(product_items, :id, :to_s, f.object.product_item_id),
    { :include_blank => true },
    { :class => 'contact_detail_kind input-small' }
  = f.input_field :prime_amount, :class => 'input-prime-amount input-small', :placeholder => ::Company::InvoiceProductItem.human_attribute_name('prime_amount'), :readonly => true
  = f.input_field :sail_amount, :class => 'input-sail-amount input-small', :placeholder => ::Company::InvoiceProductItem.human_attribute_name('sail_amount')
  = f.input_field :product_items_count, :class => 'input-items-count input-small', :placeholder => ::Company::InvoiceProductItem.human_attribute_name('product_items_count')
  .close
    = link_to_remove_association 'x', f, {:class => 'btn btn-danger disabled'}
  = f.error :product_item_id
  = f.error :product_items_count
  = f.error :prime_amount
  = f.error :sail_amount
