= content_for :list_title do
  %h3= t('.title')
  %p

= render 'filter'
%table.table
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :invoice_number
      %th= sort_link @search, :amount_in_kop, Company::Invoice.human_attribute_name('amount')
      %th= sort_link @search, :equity_amount_in_kop, Company::Invoice.human_attribute_name('equity_amount')
      %th= sort_link @search, :created_at
      %th= sort_link @search, :expected_payment_date
      %th= sort_link @search, :actual_payment_date
      %th= sort_link @search, :company_name, Company::Invoice.human_attribute_name('company')
      %th= sort_link @search, :deal_deal_number, Company::Invoice.human_attribute_name('deal')
      %th= sort_link @search, :kind_name, Company::Invoice.human_attribute_name('kind')
      %th= sort_link @search, :payment_method_name, Company::Invoice.human_attribute_name('payment_method')
      %th= sort_link @search, :payment_state_cache, Company::Invoice.human_attribute_name('payment_state')
      %th= sort_link @search, :documents_returned
      %th
  %tbody
    - @companies_invoices.each do |i|
      %tr
        - if i.notes.present?
          %td.row-invoice-id-valign{"rowspan" => 2}
            = i.id
        - else
          %td= i.id
        %td= link_to i.invoice_number, employee_company_invoice_path(i.company, i)
        %td= i.amount
        %td= i.equity_amount
        %td= l i.created_at, :format => :only_date
        %td= l i.expected_payment_date if i.expected_payment_date?
        %td= l i.actual_payment_date if i.actual_payment_date?
        %td= link_to i.company, employee_company_path(i.company), :title => i.company.name
        %td= link_to i.deal, employee_company_deal_path(i.deal.company, i.deal)
        %td= i.kind
        %td= i.payment_method
        %td
          %span{:class => "label label-invoice-#{i.payment_state_name}"}= i.human_payment_state_name
        %td= i.documents_returned ? t(:yes) : t(:no)
        %td
          %span
            %a{:href => edit_employee_companies_invoice_path(i), :title => t(:edit)}
              %i.icon-edit
          %span
            - if i.can_activate?
              %a{:href => trigger_state_event_employee_company_invoice_path(i.company, i, {event: :activate}),
                 :data => {:method => :put, :confirm => t(:sure)},
                 :title => ::Company::Invoice.human_state_event_name(:activate)}
                %i.icon-share-alt
            - if i.can_archive?
              %a{:href => trigger_state_event_employee_company_invoice_path(i.company, i, {event: :archive}),
                 :data => {:method => :put, :confirm => t(:sure)},
                 :title => ::Company::Invoice.human_state_event_name(:archive)}
                %i.icon-briefcase
            - if i.can_del?
              %a{:href => trigger_state_event_employee_company_invoice_path(i.company, i, {event: :del}),
                 :data => {:method => :put, :confirm => t(:sure)},
                 :title => ::Company::Invoice.human_state_event_name(:del)}
                %i.icon-remove
      - if i.notes.present?
        %tr
          %td{"colspan" => 11}
            %b= t('.last_note')
            = i.notes.first.short_body
.form-actions
  = render "web/shared/toolbar", {:collection => @companies_invoices, :buttons =>[{:link_title => t('.add_company_invoice'), :link_path => new_employee_companies_invoice_path}]}
